body {
    background-color: #a153eb;
    font-family: Geneva, Verdana, sans-serif;
    color: darkblue;
    text-align: center;
    padding: 0;
    margin: 0;
}


/* Style spécial après le code Konami */
body.konami-mode {
    background-color: #0056b3; /* Couleur bleu La Plateforme_ */
    color: white;
}

h1 {
    margin-top: 80px;
    font-size: 6vw;
}
